
<mat-progress-bar mode="query" *ngIf="progressBar" color="accent"></mat-progress-bar>
<div class="container"  >
    
    <div class="c1">

        <div class="columnTecnico" color="primary">
            <mat-table mat-table [dataSource]="agendaTecnicos" >
                <!--Columna tecnicos -->
                <ng-container matColumnDef="tecnicos">
                <mat-header-cell *matHeaderCellDef>Técnicos</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nombre}} {{element.apellido}}<br>
                    {{element.numeroIden}}
                </mat-cell>
                </ng-container>
            
                <!--Definicion de titulo de columna-->
                <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" 
                    (click)="selecTecnico(row)"
                    [ngClass]="{highlighted: selectedRowIndex ==row.numeroIden}" 
                ></mat-row>
            </mat-table>
        </div>
        <div class="pag">
            <mat-paginator #paginator
                [length]="length"
                [pageIndex]="0"
                [pageSize]="10"
               
                (page)="pageEvent = eventPage($event)">
            </mat-paginator>
        </div>
        
    </div>
    <div class="c2" >
        <mat-card class="card" >
            <full-calendar #calendar [options]="calendarOptions" ></full-calendar>
        </mat-card>
    </div>
</div>

