<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Ordenes de atención</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <mat-table [dataSource]="ordenesAtencion" class="mat-elevation-z8">

            <!--Columna Numero de orden -->
            <ng-container matColumnDef="numOrden">
                <mat-header-cell *matHeaderCellDef>Numero de orden</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.numOrden}} </mat-cell>
            </ng-container>

            <!-- Columna identificacion de cliente -->
            <ng-container matColumnDef="cliente">
                <mat-header-cell *matHeaderCellDef>Identificación de cliente</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.cliente}} </mat-cell>
            </ng-container>

            <!-- Columna tipo de daño -->
            <ng-container matColumnDef="incidencia">
                <mat-header-cell *matHeaderCellDef>Tipo de daño</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.incidencia}} </mat-cell>
            </ng-container>

            <!-- Definición de cabecera de tabla -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
        <mat-paginator #paginator
            [length]="length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            (page)="pageEvent = eventPage($event)">
        </mat-paginator>
    </mat-card-content>
</mat-card>
