.formCard{
    margin: 5rem auto;
    width: 35%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin-top: 6%;
  }

 .icon .mat-icon{
    font-size: 80px;
    height: fit-content;
    width: fit-content;
}
  .full-width{
      width: 85%;
  }

  .mat-card-header{
      justify-content: center;
  }
  .mat-card-title{
      text-align: center;
      height: min-content;
  }

  .mat-card-actions{
      text-align: center;
  }

