<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Tipos de daño</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        <form [formGroup]="TiposDanoForm">
            <ng-container formArrayName="tDanos">
                <mat-table [dataSource]="tDanos.controls" class="mat-elevation-z8">

                    <!-- Columna nombre -->
                    <ng-container matColumnDef="nombre">
                        <mat-header-cell mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.get('nombre').value | titlecase}}</mat-cell>
                    </ng-container>

                    <!-- Columna prioridad -->
                    <ng-container matColumnDef="prioridad">
                        <mat-header-cell *matHeaderCellDef> Prioridad</mat-header-cell>
                        <mat-cell *matCellDef="let element" [formGroup]="element">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label> Seleccione </mat-label>
                                <mat-select formControlName="prioridad">
                                    <mat-option *ngFor="let numero of prioridades" [value]="numero">
                                        {{numero}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="element.hasError">La prioridad debe ser unica</mat-error>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <!-- Columna tiempo -->
                    <ng-container matColumnDef="tiempo">
                        <mat-header-cell *matHeaderCellDef>Tiempo de atención </mat-header-cell>
                        <mat-cell *matCellDef="let element" [formGroup]="element">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label> Seleccione </mat-label>
                                <mat-select formControlName="tiempo">
                                    <mat-option *ngFor="let tiempo of tiempoAtencion" [value]="tiempo">
                                        {{tiempo}} h
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="element.hasError">El tiempo de atención debe ser unico</mat-error>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <!--Definición cabeceras de tabla -->
                    <mat-header-row *matHeaderRowDef="columnasTabla"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnasTabla;"></mat-row>
                </mat-table>
            </ng-container>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <span></span>
        <button mat-raised-button type="submit" (click)="guardar()" color="primary" class=button
            [disabled]="TiposDanoForm.invalid">Guardar</button>
    </mat-card-actions>
</mat-card>