.card{
    margin:auto;
    margin-top: 5%;
    width: 70%;
}

table {
    width: 95%;
    margin:1rem auto;
  }

.content{
    padding-top: 1rem;
}

.button{

    padding-top: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
}


.ex-list {
    width: 100px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  
.ex-list > li {
    list-style-type: none;
    border-bottom: solid 1px #8b8b8b;
    padding: 8px 0;
  }
.ex-list > li:last-child {
    border-bottom: none;
  }
.btn{
    padding: 0px;
    text-align: left;
  }