<mat-card class="card">
    <mat-card-header class="header">
        <mat-card-title>Cuadrillas</mat-card-title>
        <button mat-raised-button (click)="openDialog(1,cuadrilla)" color="primary" class=button>+Nuevo</button>
    </mat-card-header>
    <mat-card-content class="content" class="mat-elevation-z8">
        <mat-table [dataSource]="cuadrillas" >

            <!-- Columna nombre -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellido}} </mat-cell>
            </ng-container>

            <!-- Columna miembros -->
            <ng-container matColumnDef="miembros">
                <mat-header-cell *matHeaderCellDef> Miembros</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.miembros}} </mat-cell>
            </ng-container>

            <!-- Columna zonas -->
            <ng-container matColumnDef="zonas">
                <mat-header-cell *matHeaderCellDef> Zonas de atención </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <button mat-button class="btn" 
                            (click)="toggle(trigger,element.zona)" 
                            cdkOverlayOrigin
                            #trigger="cdkOverlayOrigin">
                            {{element.zona?(element.zona[0]|titlecase):''}}
                        <span *ngIf="element.zona.length > 1">
                        (+{{element.zona.length - 1}})
                        </span>
                    </button>
                </mat-cell>
            </ng-container>

            <!-- Iconos opciones -->
            <ng-container matColumnDef="opciones">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button>
                        <mat-icon color="accent" (click)="openDialog(2,element)">edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon color="accent" (click)="borrarTecnico(element.nombre)">delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <!-- Definicion de cabecera de tabla -->
            <mat-header-row *matHeaderRowDef="columnasTabla"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columnasTabla;"></mat-row>
        </mat-table>
        <mat-paginator #paginator 
            [length]="length" 
            [pageIndex]="0" 
            [pageSize]="10" 
            [pageSizeOptions]="[5, 10, 20]"
            (page)="pageEvent = eventPage($event)">
        </mat-paginator>
    </mat-card-content>
</mat-card>


<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="triggerOrigin"
    [cdkConnectedOverlayOpen]="isOpen"
    let-variable="vari"
>
<ul class="ex-list">
  <li *ngFor="let rowEl of tdanosRowelement">{{rowEl |titlecase}}</li> 
</ul>
</ng-template>