 <!--
<mat-tab-group>
    <mat-tab label="Tipo de daño" routerLink="/tipodaño" routerLinkActive=true>
        <router-outlet></router-outlet>
     </mat-tab>
    <mat-tab label="Tipo de usuario" routerLink="/tipocliente" routerLinkActive=true>
        <router-outlet></router-outlet>
    </mat-tab>
  </mat-tab-group>
-->


 <nav mat-tab-nav-bar >
    <a mat-tab-link routerLink="tipodano">Tipos de daño</a>
    <a mat-tab-link routerLink="tipocliente">Tipos de usuario</a>
  </nav>
  <router-outlet></router-outlet>

