<!--
<mat-tab-group>
    <mat-tab label="Tipo de daño" routerLink="configuracion/daño" routerLinkActive=true>
        <router-outlet></router-outlet>
     </mat-tab>
    <mat-tab label="Tipo de usuario" routerLink="configuracion/usuario" routerLinkActive=true>
        <router-outlet></router-outlet>
    </mat-tab>
  </mat-tab-group>
 -->
 <nav mat-tab-nav-bar >
    <a mat-tab-link >Tipo de daño</a>
    <a mat-tab-link >tTipo de usuario</a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>

