<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Incidencias</mat-card-title>
    </mat-card-header>
    <mat-card-content  class="mat-elevation-z8">
        <mat-table [dataSource]="incidencias">

            <!--Columna cliente -->
            <ng-container matColumnDef="cliente">
            <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.numeroIden}} </mat-cell>
            </ng-container>
        
            <!-- Columna Daño reportado -->
            <ng-container matColumnDef="tipo">
            <mat-header-cell *matHeaderCellDef> Daño reportado</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tipoDano |titlecase}} </mat-cell>
            </ng-container>
        
            <!-- Columna Fecha de reporte -->
            <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef> Fecha de reporte</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fecha |date:'medium'}} </mat-cell>
            </ng-container>
        
             <!-- Definición cabecera de tabla -->
            <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            
        </mat-table>
        <mat-paginator #paginator
            [length]="length"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            (page)="pageEvent = eventPage($event)">
        </mat-paginator>
    </mat-card-content>
</mat-card>